@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


body {
    font-family: 'Patrick Hand', cursive;
    color: darkblue;

    background-image: url(fadedimage.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 3em;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 2.5em;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 2em;
    color: chartreuse;
}

h4 {
    font-size: 1.8em;
    color: magenta;
}


td {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}

.targetA {
    color: fuchsia;
    font-size: 1.5em;
}

.targetB {
    color:blueviolet;
    background-color:rgba(184,202,140,0.4);
    font-size: 1.9em;
}

#targetC {
    color:crimson;
    font-size: 1.2em;
}
